.Informacionprincipal
{
    padding-top: 2%;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-color: rgb(216, 171, 171);
    background-color: rgb(145, 224, 209);
    border-radius: 20px;
    margin: auto;
    width: 40%;
    padding: 2%;
}

.testimonios-container
{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.testimonio
{
    padding-top: 2%;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-color: rgb(216, 171, 171);
    background-color: rgb(145, 224, 209);
    border-radius: 20px;
    margin: auto;
    width: 20%;
    padding: 2%;
    align-items: center;
}

.testimonio img
{
    border-radius: 50%;
    width: 40%;
    height: 40%;
    border-color: black;
}